
// RWD

$bp-largest: 75em;      //  1200px
$bp-large: 68.75em;     //  1100px
$bp-medium: 59em;    //  950px
$bp-small: 42em;      
$bp-smallest: 31.25em;  //  500px





// COLOR

$-color-light: #fff;

$-color-dark: #000;


$-color-default-light-1: #a3441e;
$-color-default-light-2: #cc5729;

$-color-default: #963711;

$-color-default-dark-1: #772b0d;
$-color-default-dark-2: #5c1f07;


$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #777;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #333;





// FONT VARIABLES

$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;



// FONT SIZE

$font-s-size: 1rem;
$font-m-size: 1.5rem;
$font-xm-size: 2rem;
$font-l-size: 3rem;
$font-xl-size: 4.8rem;

// Spacing

$xs-size: .5rem;
$s-size: 1rem;
$m-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem; 

// BORDER RADIUS
$br-s-size: .6rem;
$br-m-size: 1.5rem;
